@use "../general/style.scss" as *;

.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__barre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 70%;
    height: 50px;
    background-color: $main-color;
    border-radius: 8px;
    padding: 0px 11px 0px 11px;
  }
  &__hidden {
    width: 70%;
    background-color: $bg-color;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    font-size: 1.3rem;
    transform-origin: top;
    transition: transform 400ms;
  }
  h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.7rem;
    transition: transform 1000ms;
  }
  .fa-solid {
    color: white;
    font-size: 2rem;
  }
  .fa-angle-down:active {
    transform: rotate(-180deg);
    transition: transform 450ms ease-in-out;
    & .collapse__hidden {
      transform: translateY(700px);
    }
  }
  .fa-angle-up:active {
    transform: rotate(-180deg);
    transition: transform 450ms ease-in-out;
    & .collapse__hidden {
      transform: translateY(700px);
    }
  }
}

@media (max-width: 680px) {
  .collapse__barre {
    width: 90%;
    height: 40px;
    h2 {
      font-size: 0.9rem;
    }
    .fa-solid {
      font-size: 1.3rem;
    }
  }

  .collapse__hidden {
    font-size: 0.85rem;
  }
}
