@use "../general/style.scss" as *;

.logement {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  &__contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .titles {
      display: flex;
      flex-direction: column;
      gap: 0px;
      h2 {
        color: $main-color;
        font-size: 2rem;
        margin-bottom: 0px;
        width: 90%;
      }
      p {
        font-weight: 500;
        font-size: 1.1rem;
        margin-top: 3px;
      }
    }
    .etiquettes {
      display: flex;
      gap: 5px;
      p {
        background-color: $main-color;
        color: white;
        padding: 10px;
        border-radius: 18px;
        font-weight: 600;
      }
    }
  }
  &__host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    .host__info {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      margin-top: 5px;
      img {
        border-radius: 50%;
        margin: 0;
        width: 90px;
        height: 90px;
        align-self: center;
      }
      p {
        color: $main-color;
        font-size: 1.3rem;
        text-align: right;
        width: 30%;
      }
    }
    .rating__conteneur {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      margin-bottom: 25px;
    }
  }
  &__collapses {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 5px;
    .collapse {
      width: 45%;
      &__barre {
        width: 100%;
      }
      &__hidden {
        width: 100%;
      }
      &__content {
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .logement {
    &__titles {
      .titles {
        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .etiquettes {
        gap: 6px;
        p {
          padding: 9px;
          font-size: 0.75rem;
        }
      }
    }
    &__host {
      .host__info {
        gap: 5px;
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .logement {
    &__contenu {
      flex-direction: column;
    }
    &__host {
      flex-direction: row-reverse;
      align-items: center;
      width: 100%;
      .host__info {
        gap: 10px;
        img {
          width: 50px;
          height: 50px;
        }
        p {
          width: 40%;
        }
      }
      .rating__conteneur {
        margin-bottom: 0;
      }
    }
    &__collapses {
      flex-direction: column;
      gap: 20px;
      .collapse {
        width: 100%;
      }
    }
  }
}
