.main-conteneur {
  width: 100%;
  height: 100%;
}
.collapse__conteneur {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20%;
}

@media (max-width: 680px) {
  .banner {
    height: 155px;
  }
  .collapse__conteneur {
    .collapse__hidden {
      width: 90%;
      // color: red;
    }
  }
}
